.item-nav:hover {
  font-size: larger;
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}

.bran-icon:hover {
  color: #0d6efd;
  background-color: #0d6efd;
}

.error-email {
  background-color: red;
}
.card{
  background:rgba(66, 128, 185, 0.39);
  
}
